# Ignorer node_modules dans front et back
front/node_modules/
back/node_modules/
front/18.2.3/

front/src/environments
# Ignorer les fichiers de build
front/dist/
back/dist/

# Ignorer les fichiers .env
front/.env
back/.env
