<ion-content [ngClass]="{'stepperContentContainer': isStepper}">
  <!-- Hero Section-->

  @if(!isStepper){
  <section class="hero" [ngClass]="{'py-4': globalService.isTablet, 'py-2': globalService.isMobile, 'py-5': globalService.isDesktop}">
    <div class="container">
      <!-- Hero Content-->
      <div class="hero-content">
        <h1 class="hero-heading mb-3 ">Zone d'Accès ba</h1>
      </div>
    </div>
  </section>
  }
  <!-- customer login-->
  <section class="pb-5" >
    <ion-grid>
      <ion-row>
        <ion-col size-lg="5" size-md="8"  size-xs="12" offset-lg="0"  offset-md="2">
          <ion-card>
            <ion-card-header>
              <ion-card-title><h5>Déjà client ?</h5></ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-padding">
             
              <div class="cardInfo mt-3 mb-3">
                <h1 class="mb-4">Nouveau client</h1>
                <p class="text-muted text-sm">Veuillez vous connecter pour accéder à votre compte et réserver une
                  intervention pour votre vélo ou consulter vos interventions passées.</p>
              </div>
              @if(error.type == 'login'){
                <app-message></app-message>
              }
              <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
                <div class="mb-3">
                  <ion-item>
                    <ion-input label="Email" class="emailLogin" id="emailLogin" name="email" type="text" formControlName="email"></ion-input>
                  </ion-item>
                  @if(loginControls['email'].invalid && loginControls['email'].touched){
                    <small class="invalid" *ngIf="loginControls['email'].errors?.['required']">L'email est requis.</small>
                    <small class="invalid" *ngIf="loginControls['email'].errors?.['email']">L'email doit être valide.</small>
                  }
                </div>
                <div class="mb-3">
                  <ion-item>
                    <ion-input label="Mot de passe" class="passwordLogin" id="passwordLogin" name="password" type="password" formControlName="password"></ion-input>
                  </ion-item>
                  @if(loginControls['password'].invalid && loginControls['password'].touched){
                    <small class="invalid" *ngIf="loginControls['password'].errors?.['required']">Le mot de passe est requis.</small>
                    <small class="invalid" *ngIf="loginControls['password'].errors?.['minlength']">Le mot de passe doit avoir au moins 6 caractères.</small>
                  }
                </div>

                @if(!isStepper){
                <div class="mb-3">
                  <p><a class="forgetPassword" (click)="onResetPassword()">Mot de passe oublié ?</a></p>
                </div>
                }
                <ion-button type="submit" class="loginButton" [disabled]="!loginForm.valid">Se connecter</ion-button>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-lg="5" size-xs="12" offset-lg="1" size-md="8" offset-md="2">
          <ion-card>
            <ion-card-header>
              <ion-card-title><h5>Nouveau compte</h5></ion-card-title>
            </ion-card-header>

              <ion-card-content class="ion-padding">
                <div class="cardInfo mt-3 mb-3">
                  <h1 class="mb-4">Pas encore enregistré ?</h1>
                  <p class="text-muted text-sm">Avec votre inscription, vous pourrez facilement planifier des interventions
                    à domicile, consulter vos historiques de maintenance et gérer vos cycles.</p>
                </div>


                @if(error.type == 'register'){
                    <app-message></app-message>
               }
          
                <form [formGroup]="registrationForm" (ngSubmit)="onSubmitRegister()">
                  <!-- Champ Prénom -->
                  <div class="mb-3">
                    <ion-item>
                      <ion-input placeholder="Prénom" class="firstNameRegister" formControlName="firstName"></ion-input>
                    </ion-item>
                    @if(f['firstName'].invalid && f['firstName'].touched){
                      <small class="invalid" *ngIf="f['firstName'].errors?.['required']">Le prénom est obligatoire.</small>
                      <small class="invalid" *ngIf="f['firstName'].errors?.['minlength']">Le prénom doit avoir au moins 2 caractères.</small>
                    }
                  </div>
                
                  <!-- Champ Nom -->
                  <div class="mb-3">
                    <ion-item>
                      <ion-input placeholder="Nom" class="lastNameRegister" formControlName="lastName"></ion-input>
                    </ion-item>
                    @if(f['lastName'].invalid && f['lastName'].touched){
                      <small class="invalid" *ngIf="f['lastName'].errors?.['required']">Le nom est obligatoire.</small>
                      <small class="invalid" *ngIf="f['lastName'].errors?.['minlength']">Le nom doit avoir au moins 2 caractères.</small>
                    }
                  </div>
                
                  <!-- Champ Email -->
                  <div class="mb-3">
                    <ion-item>
                      <ion-input placeholder="Email" class="emailRegister" formControlName="email"></ion-input>
                    </ion-item>
                    @if(f['email'].invalid && f['email'].touched){
                      <small class="invalid" *ngIf="f['email'].errors?.['required']">L'email est obligatoire.</small>
                      <small class="invalid" *ngIf="f['email'].errors?.['email']">L'email doit être valide.</small>
                    }
                  </div>
                
                  <!-- Champ Mot de Passe -->
                  <div class="mb-3">
                    <ion-item>
                      <ion-input placeholder="Mot de passe" class="passwordRegister" type="password" formControlName="password"></ion-input>
                    </ion-item>
                      @if(f['password'].invalid && f['password'].touched){
                      <small class="invalid" *ngIf="f['password'].errors?.['required']">Le mot de passe est obligatoire.</small>
                      <small class="invalid" *ngIf="f['password'].errors?.['minlength']">Le mot de passe doit avoir au moins 6 caractères.</small>
                      }
                  </div>
                
                  <!-- Champ Téléphone -->
                  <div class="mb-3">
                    <ion-item>
                      <ion-input placeholder="Numéro de téléphone" class="phoneRegister" formControlName="phone"></ion-input>
                    </ion-item>
                      @if(f['phone'].invalid && f['phone'].touched){
                        <small class="invalid" *ngIf="f['phone'].errors?.['required']">Le numéro de téléphone est obligatoire.</small>
                        <small class="invalid" *ngIf="f['phone'].errors?.['pattern']">Le numéro de téléphone doit comporter 10 chiffres.</small>
                      }
                  </div>

                  <!-- Champ Adresse -->
                  <div class="mb-3">
                    <ion-item>
                      <app-address-autocomplete 
                        formControlName="address" 
                        placeholder="Saisissez votre adresse"
                        (addressSelected)="handleAddressChange($event)">
                      </app-address-autocomplete>
                    </ion-item>
                  </div>

                  
                
                  <ion-button type="submit" class="registerButton" [disabled]="registrationForm.invalid">Créer un compte</ion-button>
                </form>
                
                
              </ion-card-content>
            </ion-card>
              <!-- @if(error.type == 'register'){
                  <app-message></app-message>
                } -->

           
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>