.centered-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0 auto;
  }

  .centered-form form {
    width: 100%;
  }

  .addressInput {
    border: none;
    outline: none;
    width: 100%;
  }