<ion-item class="address-field">
  <ion-input 
    [placeholder]="placeholder" 
    [value]="value"
    (ionInput)="onInput($event)"
    (ionBlur)="onBlur()"
    (ionFocus)="onFocus()"
    (keydown)="onInputKeyDown($event)"
    role="combobox"
    [attr.aria-expanded]="(showSuggestions && suggestions.length > 0) ? 'true' : 'false'"
    [attr.aria-owns]="showSuggestions && suggestions.length > 0 ? 'suggestions-listbox' : null"
    [attr.aria-activedescendant]="selectedIndex >= 0 ? 'suggestion-' + selectedIndex : null"
    aria-autocomplete="list"
    [attr.aria-haspopup]="'listbox'">
  </ion-input>
</ion-item>

<ion-list 
  *ngIf="showSuggestions && suggestions.length > 0" 
  class="suggestions-list"
  role="listbox"
  id="suggestions-listbox"
  [attr.aria-label]="'Suggestions d\'adresses'">
  <ion-item 
    *ngFor="let suggestion of suggestions; let i = index" 
    button 
    (click)="selectSuggestion(suggestion)"
    (keydown)="onSuggestionKeyDown($event, suggestion, i)"
    class="suggestion-item"
    role="option"
    [attr.aria-selected]="i === selectedIndex ? 'true' : 'false'"
    [attr.tabindex]="i === selectedIndex ? 0 : -1"
    [attr.id]="'suggestion-' + i">
    <ion-label>{{ suggestion.label }}</ion-label>
  </ion-item>
</ion-list>