ion-item{
    width: 100%;
}   

.suggestions-list{
    position: absolute;
    width: 80%;
    right: 50%;
    transform: translateX(50%);
    --background: grey;
    padding: 0;
}

.suggestion-item{
    width: 100%;
    --background: grey;
}


.address-field{
--padding-bottom: 0;
--padding-start: 0;
--padding-end: 0;
}

