ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  width: 90%; 
  background-color: #f9f9f9; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin:auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ion-label{
  white-space: nowrap;
}

ion-item {
  --inner-padding-end: 0; 
}


.availableDays,.typeIntervention{
    font-weight: bold;
}

.btnContainer{
  display: flex;
  justify-content: center;
  ion-button{
    width: fit-content;
  }
}

ion-select{
    color:black;
}
ion-note{
  font-size: 12px;
  color:deepskyblue;
}

.table-container {
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.mat-column-actions {
  text-align: right;
}