<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Réinitialiser le mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="pb-5">
    <ion-grid>
      <ion-row>
        <ion-col size-lg="6" size-xs="12" >
          <ion-card>
            <app-message></app-message>
            <ion-card-content class="ion-padding">
              <form (ngSubmit)="onSubmit()" #myForm="ngForm">
                <div class="mb-3">
                  <ion-item>
                    <ion-input label="Nouveau mot de passe" minlength="6" id="mdp" placeholder="Mot de passe" name="password" type="password"
                    ngModel required></ion-input>
                  </ion-item>
                  @if(myForm.controls['password']?.touched && myForm.controls['password']?.invalid){
                    <small class="invalid" *ngIf="myForm.controls['password']?.errors?.['required']">Le mot de passe est obligatoire.</small>
                    <small class="invalid" *ngIf="myForm.controls['password']?.errors?.['minlength']">Le mot de passe doit contenir au moins 6 caractères.</small>
                  }
                </div>
                
                <div class="mb-3">
                  <ion-item>
                    <ion-input label="Confirmer le mot de passe"  minlength="6" id="mdp" placeholder="Confirmer mot de passe" name="password_confirm" type="password"
                    ngModel required></ion-input>
                  </ion-item>
                  @if(myForm.controls['password_confirm']?.touched && myForm.controls['password_confirm']?.invalid){
                    <small class="invalid" *ngIf="myForm.controls['password_confirm']?.errors?.['required']">Le mot de passe est obligatoire.</small>
                    <small class="invalid" *ngIf="myForm.controls['password_confirm']?.errors?.['minlength']">Le mot de passe doit contenir au moins 6 caractères.</small>
                  }
                </div>
                <div class="ion-text-center">
                  <ion-button type="submit" class="d-flex" [disabled]="myForm.invalid || myForm.controls['password_confirm']?.value?.length !==  myForm.controls['password']?.value?.length" >Mettre à jour</ion-button>
                </div>
              </form>
            </ion-card-content>
          </ion-card>
          <!-- </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>