.centered-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0 auto;
}

.centered-form form {
  width: 100%;
  max-width: 700px;
  padding: 0 20px;
}

ion-item {
  width: 100%;
}
