<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Planifier une intervention</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">actions</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="stepper-container">
    <mat-horizontal-stepper #stepper [linear]="true" (selectionChange)="preventBackNavigation($event)">
      <mat-step [stepControl]="addressFormGroup" [completed]="addressFormGroup.valid && addressFormCompleted && addressValidated">
        <form [formGroup]="addressFormGroup" (ngSubmit)="onAddressSubmit()">
          <ng-template matStepLabel>Votre adresse</ng-template>
          <div class="form-content">
              @if(displayError){  
              <app-message></app-message>
            }
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Adresse</mat-label>
              <input matInput placeholder="Saisissez votre adresse" class="adresse-input" formControlName="address" placesRef="ngx-places" ngx-gp-autocomplete (onAddressChange)="handleAddressChange($event)" (input)="changeAddressValidated()" required>
              <mat-error *ngIf="addressFormGroup.get('address').hasError('required')">
                L'adresse est requise.
              </mat-error>
            </mat-form-field>
            <div class="button-group">
              <button mat-raised-button color="primary" class="next-btn adresse-btn" type="submit">Suivant</button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="detailsFormGroup" [completed]="detailsFormGroup.valid && detailsFormCompleted">
        <form [formGroup]="detailsFormGroup" (ngSubmit)="onDetailsSubmit()">
          <ng-template matStepLabel>Détails du cycle</ng-template>
          <div class="form-content">

            @if(this.globalService.isAuthenticated.getValue() !== false){
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Sélectionnez un vélo</mat-label>
              <mat-select (selectionChange)="onBicycleSelect($event.value)">
                <mat-option *ngFor="let bicycle of userBicycles" [value]="bicycle">
                  {{ bicycle.brand }} - {{ bicycle.model }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          }
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Marque</mat-label>
              <input matInput placeholder="Saisissez la marque" formControlName="brand" required>
              <mat-error *ngIf="detailsFormGroup?.get('brand')?.hasError('required')">
                La marque est requise.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Modèle</mat-label>
              <input matInput placeholder="Saisissez le modèle" formControlName="model" required>
              <mat-error *ngIf="detailsFormGroup?.get('model')?.hasError('required')">
                Le modèle est requis.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Année</mat-label>
              <input matInput placeholder="Saisissez l'année" formControlName="year" type="number" required>
              <mat-error *ngIf="detailsFormGroup?.get('year')?.hasError('required')">
                L'année est requise.
              </mat-error>
              <mat-error *ngIf="detailsFormGroup?.get('year')?.hasError('pattern')">
                L'année doit être un nombre à quatre chiffres.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Type</mat-label>
              <mat-select formControlName="type" required>
                <mat-option value="Vélo classique">Vélo classique</mat-option>
                <mat-option value="Vélo électrique (VAE)">Vélo électrique (VAE)</mat-option>
                <mat-option value="VTT">VTT (Vélo tout-terrain)</mat-option>
              </mat-select>
              <mat-error *ngIf="detailsFormGroup?.get('type')?.hasError('required')">
                Le type est requis.
              </mat-error>
            </mat-form-field>
            <div class="button-group">
              <button mat-raised-button class="prev-btn" matStepperPrevious>Retour</button>
              <button mat-raised-button class="next-btn details-btn" type="submit">Suivant</button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="operationFormGroup" [completed]="operationFormGroup.valid && operationFormCompleted">
        <form [formGroup]="operationFormGroup" (ngSubmit)="onOperationSubmit()">
          <ng-template matStepLabel>Choisissez une opération</ng-template>
          <div class="form-content">
            <mat-radio-group formControlName="operation" class="operation-options">
              <mat-radio-button value="maintenance" class="operation-option">
                <div class="option-content">
                  <h3>Maintenance</h3>
                  <p>Choisissez cette option pour une maintenance régulière.</p>
                </div>
              </mat-radio-button>
              <mat-radio-button value="reparation" class="operation-option">
                <div class="option-content">
                  <h3>Réparation</h3>
                  <p>Choisissez cette option pour une réparation spécifique.</p>
                </div>
              </mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="operationFormGroup?.get('operation')?.hasError('required')">
              Veuillez sélectionner une opération.
            </mat-error>
            <div class="button-group">
              <button mat-raised-button class="prev-btn" matStepperPrevious>Retour</button>
              <button mat-raised-button class="next-btn operation-btn" type="submit">Suivant</button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step *ngIf="operationFormGroup.get('operation').value === 'maintenance'" [stepControl]="maintenanceFormGroup" [completed]="maintenanceFormGroup.valid">
        <form [formGroup]="maintenanceFormGroup">
          <ng-template matStepLabel>Maintenance</ng-template>
          <div class="form-content">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Forfait</mat-label>
              <mat-select formControlName="package" required>
                <mat-option value="basic">Forfait de base</mat-option>
                <mat-option value="premium">Forfait premium</mat-option>
              </mat-select>
              <mat-error *ngIf="maintenanceFormGroup?.get('package')?.hasError('required')">
                Le forfait est requis.
              </mat-error>
            </mat-form-field>
              
            <div class="form-content">
              <ion-item>
                <ion-button expand="full" (click)="f.click()">
                  <ion-icon lazy="true" slot="start" name="image"></ion-icon>
                  <ion-label slot="end">Ajouter des photos</ion-label>
                </ion-button>
                <input class="ion-hide" #f type="file" (change)="handleFileInput($event)" formArrayName="photos" id="file-input"
                  accept="image/png, image/jpeg" multiple>
              </ion-item>
            </div>
            <ion-datetime display-format="MMM DD, YYYY" picker-format="MMM DD YYYY" class="scheduleDate" formControlName="scheduleDate" required
            [min]="minDate" [isDateEnabled]="isDateEnabled.bind(this)" (ionChange)="onDateChange($event)" presentation="date"></ion-datetime>

            <div class="selectContainer">
              <ion-select formControlName="scheduleTime" placeholder="Sélectionnez un créneau horaire" *ngIf="availableTimeSlots.length > 0" (ionChange)="onTimeSlotSelect($event)">
                <ion-select-option *ngFor="let timeSlot of availableTimeSlots" [value]="timeSlot.time" [disabled]="!timeSlot.available">
                  {{ timeSlot.time }}
                </ion-select-option>
              </ion-select>
            </div>
            <div class="button-group">
              <button mat-raised-button class="prev-btn" matStepperPrevious>Retour</button>
              <button mat-raised-button class="next-btn maintenance-btn" type="submit" (click)="onSubmit()">{{globalService.isAuthenticated.getValue() === true ? 'Finaliser' : 'Suivant'}}</button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step *ngIf="operationFormGroup.get('operation').value === 'reparation'" [stepControl]="repairFormGroup" [completed]="repairFormGroup.valid">
        <form [formGroup]="repairFormGroup" >
          <ng-template matStepLabel>Réparation</ng-template>
          <div class="form-content">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Détails de la panne</mat-label>
              <textarea matInput placeholder="Décrivez la panne" formControlName="issueDetails" required></textarea>
              <mat-error *ngIf="repairFormGroup?.get('issueDetails')?.hasError('required')">
                Les détails de la panne sont requis.
              </mat-error>
            </mat-form-field>
            <div class="form-content">
              <ion-item>
                <ion-button expand="full" (click)="f.click()">
                  <ion-icon lazy="true" slot="start" name="image"></ion-icon>
                  <ion-label slot="end">Ajouter des photos</ion-label>
                </ion-button>
                <input class="ion-hide" #f type="file" (change)="handleFileInput($event)" formControlName="photos" id="file-input"
                  accept="image/png, image/jpeg" multiple>
              </ion-item>
            </div>
            <ion-datetime display-format="MMM DD, YYYY" picker-format="MMM DD YYYY" class="scheduleDate" formControlName="scheduleDate" required
            [min]="minDate" [isDateEnabled]="isDateEnabled.bind(this)" (ionChange)="onDateChange($event)" presentation="date"></ion-datetime>

            <div class="selectContainer">
              <ion-select formControlName="scheduleTime" placeholder="Sélectionnez un créneau horaire" *ngIf="availableTimeSlots.length > 0" (ionChange)="onTimeSlotSelect($event)">
                <ion-select-option *ngFor="let timeSlot of availableTimeSlots" [value]="timeSlot.time" [disabled]="!timeSlot.available">
                  {{ timeSlot.time }}
                </ion-select-option>
              </ion-select>
            </div>
           
            <div class="button-group">
              <button mat-raised-button class="prev-btn" matStepperPrevious>Retour</button>
              <button mat-raised-button class="next-btn reparation-btn" type="submit" (click)="onSubmit()">Finaliser</button>
            </div>
          </div>
        </form>
      </mat-step>

      @if(this.globalService.isAuthenticated.getValue() === false){
      <mat-step>
        <ng-template matStepLabel>Connexion</ng-template>
         <div class="loginPageContainer">  
          <app-login [isStepper]="true" (stepperAuthentication)="onAuthenticated($event)"></app-login>
        </div>
      </mat-step>
      }
      <mat-step>
        <ng-template matStepLabel>Confirmation</ng-template>
        <div class="confirmation-content">
          <ion-icon name="checkmark-circle" class="confirmation-icon"></ion-icon>
          <h2>Merci d'avoir pris le rendez-vous !</h2>
          <p>Nous vous avons envoyé un email de confirmation avec les détails de votre rendez-vous.</p>
          <ion-button color="primary" (click)="resetForm()">Créer une nouvelle intervention</ion-button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</ion-content>
