<ion-app>
  <app-loader></app-loader>
  <ion-split-pane contentId="main-content" when="xs" content-id="main">
    <ion-menu contentId="main-content" type="overlay" [hidden]="globalService.isMobile && globalService.isPortrait">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header class="ion-margin-bottom">
          @if(companyService.currentCompany?.name){
            {{ companyService.currentCompany?.name  }}
          }@else{
            CycleLyonnais
          }

          </ion-list-header>

          <!-- Boucle sur les éléments de menu -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages(); let i = index">
                <ion-item 
                routerDirection="root"
                [routerLink]="p.url ? [p.url] : null"
                (click)="p.func ? p.func() : null"
                (keydown)="onKeyDown($event, p)"
                lines="none"
                detail="false"
                routerLinkActive="selected"
                tabindex="0">
                <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>