// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-secondary: #bf0d0d;
    --ion-color-secondary-rgb: 191, 13, 13;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #a10b0b;
    --ion-color-secondary-tint: #c61f1f;

    --ion-color-primary: #bf0d0d;
    --ion-color-primary-rgb: 191, 13, 13;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #a10b0b;
    --ion-color-primary-tint: #c61f1f;

    // --ion-toolbar-background: red!important;

    // --ion-background-color: #ffffff;
  }
