ion-input,ion-label,ion-select {
 color:white;
}


ion-list{
    width: 100%;
}


.zoneContainer{
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    width: 100%;
}