<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Liste des utilisateurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-label position="floating">Chercher par nom d'utilisateur</ion-label>
    <ion-input (ionInput)="applyFilter($event)"></ion-input>
  </ion-item>

  <ion-button class="rmvAction" routerLink="/user" color="success">
    Ajouter 
  </ion-button>
  <ion-button class="rmvAction" (click)="deleteSelected()" [disabled]="!selection.hasValue()" color="danger">
    Supprimer
  </ion-button>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort class="mat-elevation-z8">
      <!-- Table columns definition -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        (click)="$event.stopPropagation()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"> 
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- Other columns -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="position: sticky; top: 0; background: white; z-index: 1;"> ID </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td> 
      </ng-container>
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="position: sticky; top: 0; background: white; z-index: 1;"> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
      </ng-container>
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="position: sticky; top: 0; background: white; z-index: 1;"> Prénom </th>
        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="position: sticky; top: 0; background: white; z-index: 1;"> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="position: sticky; top: 0; background: white; z-index: 1;"> Actions </th>
        <td mat-cell *matCellDef="let element">
          <ion-button color="primary" routerLink="/user/{{element.id}}">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="deleteSelected(element.id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
    #paginator
    [pageSizeOptions]="pageSizes"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</ion-content>
