<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Interventions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="interventions-container">
    <ion-header collapse="condense">
      <ion-toolbar>
      <ion-title size="large">Interventions</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-template #interventionCard let-intervention let-isUpcoming="isUpcoming">
    <ion-col size="4">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <ion-icon name="hammer-outline"></ion-icon> {{ intervention.type }}
          </mat-panel-title>
          <mat-panel-description>
            <ion-icon name="calendar-outline"></ion-icon> {{ intervention.appointment_start | date:'d/M/yyyy' }} 
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="calendar-outline"></ion-icon> {{ intervention.type }}
            </ion-card-title>
            <ion-card-subtitle>
              {{ intervention.appointment_start | date:'dd MMMM yyyy' }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="intervention-details">
              <h3>Date</h3>
              <p><strong>Heure : </strong>{{ intervention.appointment_start | date:'hh:mm' }} - {{ intervention.appointment_end| date:'hh:mm' }}</p>
              <p><strong>Création : </strong>{{ intervention.created_at | date:'d/M/yyyy' }}</p>
            </div>
            <div class="bicycle-details">
              <h3>Vélo</h3>
              <p>{{ intervention.bicycle.brand }} - {{ intervention.bicycle.model }}</p>
              <p>{{ intervention.bicycle.type }}</p>
            </div>
            <div class="technician-details">
              <h3>Technicien</h3>
              <div class="technician-info">
                <ion-icon name="person-outline"></ion-icon>
                <p>{{ intervention.technician.first_name }} {{ intervention.technician.last_name }}</p>
              </div>
            </div>
              @if(intervention.comment?.length > 0 && intervention.comment !== 'null'){
                <div>
                  <p>{{intervention.comment}}</p>
                </div>
              }

            <ion-button *ngIf="isUpcoming" color="danger" (click)="confirmCancel(intervention)">
              <ion-icon name="close-circle-outline"></ion-icon> Annuler
            </ion-button>
            <ion-button *ngIf="intervention.photos?.length > 0" (click)="openImageModal(intervention.photos, 0)">
              {{ intervention.photos?.length > 1 ? 'Voir les photos' : 'Voir la photo' }}
            </ion-button>
          </ion-card-content>
        </ion-card>
      </mat-expansion-panel>
    </ion-col>
  </ng-template>

  <mat-accordion>

    @if(pastInterventions?.length > 0){
    <div class="passedInterventions"> 
      <h2>Interventions Passées</h2>
      <ion-grid>
      <ion-row>
        <ng-container *ngFor="let intervention of pastInterventions; let i = index">
          <ng-container *ngTemplateOutlet="interventionCard; context: { $implicit: intervention, isUpcoming: false }"></ng-container>
        </ng-container>
      </ion-row>
      </ion-grid>
    </div>
    }

    @if(upcomingInterventions?.length > 0){
    <div class="upcomingInterventions">
      <h2>Interventions à Venir</h2>
      <ion-grid>
      <ion-row>
        <ng-container *ngFor="let intervention of upcomingInterventions; let i = index">
          <ng-container *ngTemplateOutlet="interventionCard; context: { $implicit: intervention, isUpcoming: true }"></ng-container>
        </ng-container>
      </ion-row>
      </ion-grid>
    </div>
    }

    @if(pastInterventions?.length === 0 && upcomingInterventions?.length === 0){
      <ion-grid class="ion-justify-content-center ion-align-items-center noInterventions" style="height: 100%; display: flex;">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-md="12" class="ion-text-center">
            <h1>Aucune intervention trouvée</h1>
            <ion-button class="ion-margin-top addZoneBtn" routerLink="/actions">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    }

  </mat-accordion>
  </div>
</ion-content>
