<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button 
        (click)="close()" 
        (keydown.enter)="close()"
        (keydown.space)="close()">
        Fermer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-container">
    @if(photos.length > 1){
      <ion-button         
      (click)="previous()" 
      (keydown.enter)="previous()"
      (keydown.space)="previous()"
      (keydown.arrowleft)="previous()"
      
      fill="clear">
        <ion-icon name="arrow-back-circle" size="large"></ion-icon>
      </ion-button>
    }
    <img [src]="photos[index]" alt="photo" />
    @if(photos.length > 1){
      <ion-button 
      (click)="next()" 
      (keydown.enter)="next()"
      (keydown.space)="next()"
      (keydown.arrowright)="next()"
      fill="clear">
        <ion-icon name="arrow-forward-circle" size="large"></ion-icon>
      </ion-button>
    }
  </div>
</ion-content>